---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>

    {% include links.html %}
</head>
<body>
    {% include nav.html %}
    <header>
        <div>
            <h1>It's been <span id="days">0</span> days since Break Something staff demanded recognition</h1>
            <a class="cta" target="_blank" href="https://actionnetwork.org/letters/break-something">Sign on: Demand Recognition of our Union</a>
        </div>
    </header>

    <section>
        <h1>What we're fighting for</h1>
        <div class="card-container">
            <div class="card">
                <i class="fa fa-handshake"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita placeat eligendi non et! Nobis cum velit obcaecati dolorem cupiditate fugit minima minus totam earum distinctio corrupti non, libero nihil! Fugit.
            </div>
            <div class="card">
                <i class="fa fa-users"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eaque consequuntur illum consequatur temporibus, error fuga saepe. Error natus ab repudiandae totam laboriosam eveniet fuga nam adipisci. Explicabo, beatae pariatur.
            </div>
            <div class="card">
                <i class="fa fa-money-bill-alt"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos nam maxime, a nostrum quaerat laudantium culpa! Explicabo, natus quia eveniet architecto quasi ad sequi, optio similique pariatur vero dolores.
            </div>
        </div>
    </section>
    <section class="bg-red updates">
        <h1>Stay up to date</h1>
        <p>To stay up to date with the most current news about Break Something's effort to unionize, <a href="{{'/updates' | absolute_url }}">visit our updates page.</a></p>
        <a class="cta" href="{{'/updates' | absolute_url }}">Updates from Break Something United</a>
    </section>
    <!-- <section>
        <h1>Keep up to date</h1>
        <a class="twitter-timeline" href="https://twitter.com/BrkSmthngUnited?ref_src=twsrc%5Etfw">Tweets by BrkSmthngUnited</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section> -->

    <script src="./resources/js/scripts.js"></script>
</body>
</html>